.header__logo {
  padding: 0;
  background: url("../../../images/header.svg") no-repeat;
  margin: 0;
  padding-bottom: 40px;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 768px){
  .header__logo {
    width: 104px;
    height: 25px;
    margin-left: 27px;
    padding-bottom: 30px;
  }
}
