.profile__profession {
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: 1.22;
  font-size: 18px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}

@media screen and (max-width: 880px) {
  .profile__profession {
    text-align: center;
    font-size: 14px;
    line-height: 1.21;
    max-width: 282px;
  }
}
